#root {
  width: 100%;
  background-color: #c0c0c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Alibaba Sans';
  font-weight: 500;
}

.content-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: var(--background-white);
  box-shadow: 0 0 30px var(--primary-opacity);
}

.more-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.more-info p {
  font-weight: 300;
  align-items: center;
  margin: 0;
}

.inline-icon {
  vertical-align: middle;
}

.issue-a {
  color: var(--font-black);
  transition: color 0.3s ease, filter 0.3s ease;
}

.issue-a:hover {
  color: #54adde;
  filter: brightness(1.2)
}