#root {
  width: 100%;
  background-color: #c0c0c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Alibaba Sans';
  font-weight: 500;
}

.content-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: var(--background-white);
  box-shadow: 0 0 30px var(--primary-opacity);
}