:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --background-white: #f9f9f9;
  --background-gray: #c0c0c0;
  --background-black: #222222;
  --primary-opacity: rgb(0, 0, 0, 0.2);
  --font-black: #303d56;
  --primary-blue: #3365d1;
  --primary-light-blue: #3c87f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2rem;
  color: var(--font-black);
}

h2 {
  font-size: 1.5rem;
  color: var(--font-black);
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  font-size: 1rem;
}

@font-face {
  font-family: 'Alibaba Sans';
  src: url('../public/fonts/Alibaba_PuHuiTi_2.0_45_Light_45_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Alibaba Sans';
  src: url('../public/fonts/Alibaba_PuHuiTi_2.0_55_Regular_85_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Alibaba Sans';
  src: url('../public/fonts/Alibaba_PuHuiTi_2.0_65_Medium_65_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'minecraft ten';
  src: url('../public/fonts/MinecraftTen-VGORe.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.light-text {
  font-family: 'Alibaba Sans', sans-serif;
  font-weight: 300;
}

.normal-text {
  font-family: 'Alibaba Sans', sans-serif;
  font-weight: 500;
}

.light-text {
  font-family: 'Alibaba Sans', sans-serif;
  font-weight: 700;
}